apiVersion: apps/v1
kind: Deployment
metadata:
  name: locationservice
  labels:
    app: locationservice
    tier: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: locationservice
  template:
    metadata:
      labels:
        app: locationservice
        tier: backend
      annotations:
        linkerd.io/inject: enabled
        config.linkerd.io/skip-outbound-ports: "6379,6380,443,80"
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        fsGroup: 1000
        seccompProfile:
          type: RuntimeDefault
      containers:
      - name: locationservice
        image: acruithuykhoigo.azurecr.io/locationservice:ff3078b43101414d94578cbd516aa753c81c2de6
        ports:
        - containerPort: 8000
        env:
        # Code của bạn cần đọc 2 biến này và bật SSL khi kết nối Redis
        - name: REDIS_HOST
          valueFrom: { secretKeyRef: { name: uitgo-secrets, key: REDIS_HOST } }
        - name: REDIS_KEY
          valueFrom: { secretKeyRef: { name: uitgo-secrets, key: REDIS_KEY } }
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 200m
            memory: 256Mi
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop:
              - ALL
---
apiVersion: v1
kind: Service
metadata:
  name: locationservice # Service nội bộ
spec:
  ports:
  - port: 8000
    targetPort: 8000
  selector:
    app: locationservice